<h3 class="py-3">Stupid Coaching</h3>
<div class="p-2 border-left mb-3">
  <p> <%= @answer %></p>
  <p><i>-You</i></p>
</div>
<div class="p-2 border-left bg-light">
  <p> <%= @couch_answer %></p>
  <p><i>-Your coach</i></p>
</div>
